# T-Test
A T-Test is a statistical hypothesis test used to determine if there is a significant difference between the means of 2 groups of if a single group's mean is different from a known value. The T-Test is particularly useful when working with small sample sizes and the population standard deviation is unknown.

There are different types of T-Tests and the appropriate one to use depends on the specific scenario,
1. One Sample T-Test: Used to test if the mean of a single sample is significantly different from a known or hypothesized population mean.
2. Independent Samples T-Test (Two Samples T-Test): Used to compare the means of 2 independent groups to assess if they are significantly different from each other.
3. Paired Samples T-Test: Used when dealing with paired or matched samples, such as before and after measurements on the same group.

In all T-Tests, the obtained T-Statistic is compared to a critical value from the T-Distribution or used to calculate a P-Value to determine statistical significance. The decision to reject the null hypothesis is based on a predetermined significance level (usually 0.05). If the P-Value is less than the significance level, the null hypothesis is rejected in favor of the alternative hypothesis.

# One Sample T-Test
```Python
from scipy.stats import ttest_1samp

t_stat, p_value = ttest_1samp(<array>, <mean>)

if p_value < alpha:
  print("Reject H0")
else:
  print("Accept H0")
```

# One Sample Right Tailed T-Test
```Python
from scipy.stats import ttest_1samp

t_stat, p_value = ttest_1samp(<array>, <mean>, alternative = “greater")

if p_value < alpha:
  print("Reject H0")
else:
  print("Accept H0")
```

# One Sample Left Tailed T-Test
```Python
from scipy.stats import ttest_1samp

t_stat, p_value = ttest_1samp(<array>, <mean>, alternative = “less”)

if p_value < alpha:
  print("Reject H0")
else:
  print("Accept H0")
```

# Two Sample T-Test Or T-Test Independent
```Python
from scipy.stats import ttest_ind

t_stat, p_value = ttest_ind(<array1>, <array2>)

if p_value < alpha:
  print("Reject H0")
else:
  print("Accept H0")
```

# Right Tailed Two Sample T-Test
```Python
from scipy.stats import ttest_ind

t_stat, p_value = ttest_ind(<array1>, <array2>, alternative = “greater")

if p_value < alpha:
  print("Reject H0")
else:
  print("Accept H0")
```

# Left Tailed Two Sample T-Test
```Python
from scipy.stats import ttest_ind

t_stat, p_value = ttest_ind(<array1>, <array2>, alternative = “less”)

if p_value < alpha:
  print("Reject H0")
else:
  print("Accept H0")
```

# Paired T-Test
The paired T-Test, also known as dependent samples T-Test or matched pairs T-Test, is a statistical test used to compare the means of 2 related groups. It is typically applied when the measurements are taken from the same subjects or are somehow paired or matched.

The following are the key points about the paired T-Test,
1. Objective: The paired T-Test is used to determine whether there is a significant difference between the means of 2 related groups.
2. Null hypothesis (H0): The null hypothesis asserts that there is no significant difference between the means of the paired groups.
3. Alternative hypothesis (H1): The alternative hypothesis suggests that there is a significant difference between the means of the paired groups.
4. Assumptions:
    - The data should be approximately normally distributed.
    - The differences between the paired observations should be approximately normally distrinuted.
    - The paired observation should be independent.
5. Test statistic: The test statistic is the T-Statistic, calculated as the mean difference between pairs divided by the standard error of the differences.

In [1]:
from scipy.stats import ttest_rel

# example data for two related groups
group1 = [25, 28, 30, 32, 35]
group2 = [22, 24, 28, 30, 33]

# perform paired t-test
t_statistic, p_value = ttest_rel(group1, group2)

# print results
print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

T-Statistic: 6.5
P-Value: 0.0028900071171007345

### Interpreting the results
If the p-value is less than the chosen significance level (e.g., 0.05), the null hypothesis is rejected. Suggesting that there is a significant difference between the means of the paired groups. If the P-Value is not significant, the null hypothesis is not rejected, indicating that there is no significant difference.

### When is the paired T-Test used?
It is important to note that the paired T-Test is appropriate when the data are paired or matched, such as before and after measurements on the same subjects, repeated measurements on the same subjects or other types of matched pairs.

In the independent T-Test, there were 2 sets of numbers in drug recovery, school IQ examples etc. The members of set 1 and set 2 are independent to each other.

Consider a new setup of before and after scenario of person x, in here the person before and person after (same person) are called as paired examples.

Will the problem solving sessions help students?
- Test 1: Before problem solving session.
- Test 2: After problem solving session.

In [2]:
import numpy as np
import pandas as pd
from scipy.stats import ttest_rel

In [3]:
df = pd.read_csv("problem_solving.csv")
df.head()

   id  test_1  test_2
0   0      40      38
1   1      49      44
2   2      65      69
3   3      59      63
4   4      44      43

In [4]:
df.describe(include = "all")

               id      test_1      test_2
count  137.000000  137.000000  137.000000
mean    68.000000   60.489051   62.430657
std     39.692569   17.080311   17.516293
min      0.000000   30.000000   27.000000
25%     34.000000   46.000000   48.000000
50%     68.000000   59.000000   62.000000
75%    102.000000   75.000000   77.000000
max    136.000000   89.000000   96.000000

In [5]:
# h0: problem solving has no effect
# h1: problem solving has an effect

ttest_rel(df["test_1"], df["test_2"])

TtestResult(statistic=np.float64(-5.502886353508166), pvalue=np.float64(1.795840353792307e-07), df=np.int64(136))

In [6]:
# h0: problem solving has no effect
# h1: problem solving has an improved the score

ttest_rel(df["test_1"], df["test_2"], alternative = "less")

TtestResult(statistic=np.float64(-5.502886353508166), pvalue=np.float64(8.979201768961535e-08), df=np.int64(136))

In [7]:
# h0: problem solving has no effect
# h1: problem solving has an deteriorated the score

ttest_rel(df["test_1"], df["test_2"], alternative = "greater")

TtestResult(statistic=np.float64(-5.502886353508166), pvalue=np.float64(0.9999999102079823), df=np.int64(136))