# Business Case: 24Seven
24Seven has different stores buying various products, based on the purchase history there is a requirement to divide the stores into classes for better inventory management and customer handling.

The column profile looks as follows,

| id | features | description |
| :-: | :-: | :-: |
|01| `Region` | Region of the store (1: Less purchase 2: frequent purchase 3: high purchase)|
|02| `Fresh` | How many fresh items are brought |
|03| `Milk` | How many units of Milk is purchased |
|04| `Grocery` | Units of Grocery bought for the store |
|05| `Frozen` | Frozen items purchased |
|06| `Detergents_Paper` | Unit of Detergents and paper bought |
|07| `Delicassen` | Food related items |
|08| `class` | Type/Category of the Store (1 ,2 , 3)|

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# loading the data
df = pd.read_csv("24_seven.csv")
df.head()

   Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen  class
0       3  12669  9656     7561     214              2674        1338      2
1       3   7057  9810     9568    1762              3293        1776      2
2       3   6353  8808     7684    2405              3516        7844      2
3       3  13265  1196     4221    6404               507        1788      1
4       3  22615  5410     7198    3915              1777        5185      1

In [3]:
# shape of the data
df.shape

(440, 8)