# Sets
Sets are a collection of unique elements. They are unordered (hence unindexed), mutable and contain no duplicates.

Even if duplicates are defined only one of them is stored.

The different operations that can be performed on sets are, create, update and delete.

# How To Create Sets?

In [1]:
set_name = {1, 2, 3, 4, 5, 6}

# How To Create An Empty Set?

In [2]:
set_name = set()
print(type(set_name))

<class 'set'>

In [3]:
set_name = {} # type dict
print(type(set_name))
set_name = set() # type set
print(type(set_name))

# an empty list can be converted to a set like so
a = []
s = set(a)
print(type(a))
print(type(s))

<class 'dict'>
<class 'set'>
<class 'list'>
<class 'set'>

# How To Create A Set With A Single Element?

In [4]:
set_name = {1}
print(type(set_name))

<class 'set'>

# Set Indexing
Indexing is un-available while working with sets. This is because, sets are not ordered.

In [5]:
my_set = {1, 2, 3, 4, 5}
print(my_set[2]) # TypeError

TypeError: 'set' object is not subscriptable

### How are set elements accesses?
In Python, sets are unordered collection of unique elements and they do not support indexing because they are not ordered like this. However, it is possible to access elements in a set using alternative methods,
1. Membership testing: The presence of an element in a set can be confirmed using the `in` keyword. This does not require indexing.

In [6]:
my_set = {1, 2, 3, 4, 5}
if 3 in my_set:
	print("3 is in the set.")

3 is in the set.

2. Looping: The elements in a set can be iterated over using a `for` loop.

In [7]:
my_set = {1, 2, 3, 4, 5}
for item in my_set:
	print(item)

1
2
3
4
5

3. Converting to a list: If it is a must to access elements by index, the set can be converted to a list and the elements then can be accessed using index.

In [8]:
my_set = {1, 2, 3, 4, 5}
my_list = list(my_set)
element = my_list[2]  # Access the third element (index 2)
print(element)
print(my_list[2])

3
3

The following lines of code creates a list which contains a sequence of elements. This list is used to check if the elements that are in the set are also in the list.

In [9]:
# try this
set1 = {1, 2, 3, 4, 5}
print(set1)
list1 = list(range(7 + 1))
print(list1)
for i in range(len(list1)):
    if list1[i] in set1:
        print(f"{list1[i]} is in set1")
    else:
        print(f"{list1[i]} is not in set1")

{1, 2, 3, 4, 5}
[0, 1, 2, 3, 4, 5, 6, 7]
0 is not in set1
1 is in set1
2 is in set1
3 is in set1
4 is in set1
5 is in set1
6 is not in set1
7 is not in set1

# Set Operations
- Union = $A \cup B$.
- Intersection = $A \cap B$.
- Set difference = $A - B$.
- Symmetric difference = $(A \cup B) - (A \cap B)$ = $(A - B) \cup (A - B)$.

In [10]:
s1 = {2,3,4}
s2 = {1,2,4,5,6}
print(s1.intersection(s2))
print(s1.union(s2))
print(s1.difference(s2))
print(s1.symmetric_difference(s2))
print(s1 ^ s2) # symmetric difference

# intersection(): a1 & a1
# union(): a1 | a2
# difference(): a1 - a2
# symmetric_difference(): a1 ^ a2

{2, 4}
{1, 2, 3, 4, 5, 6}
{3}
{1, 3, 5, 6}
{1, 3, 5, 6}

# Set Methods

### `add()`
Used to add an element to a set. The element is added to the end of the set.

In [11]:
a = {1, 2, 3, 4}
a.add(5)
a.add(1) # since 1 is already a part of a, nothing happens
print(a)

{1, 2, 3, 4, 5}

### `clear()`
`clear()` method is used to clear the set or empty the set of all its elements.

In [12]:
a = {1, 2, 3, 4}
a.clear()
a

set()

### `copy()`
`copy()` is used to create a copy of the set. The created copy is stored in a new memory location.

In [13]:
a = {1, 2, 3, 4}
b = a.copy()
print(a is b) # False
print(id(a))
print(id(b))

False
4440911744
4440910624

### `difference()`
The `difference()` method returns a set that contains the difference between the two sets. Meaning, the returned set contains the items that exist only in the first set and not in both sets.

As a shortcut, the `-` operator can also be used.

In [14]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.difference(y)
print(z) # cherry, banana

{'banana', 'cherry'}

In [15]:
# alternatively
z = x - y
print(z)

{'banana', 'cherry'}

### `difference_update()`
The `difference_update()` method removes the items that exist in both sets.

The `difference_update()` method is different from the `difference()` method. The `difference()` method returns a new set, without the unwanted items and the `difference_update()` method removes the unwanted items from the original set.

As a shortcut, the `-=` assignment operator can be used.

In [16]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.difference_update(y)
print(x)

{'banana', 'cherry'}

### `discard()`
The `discard()` method removes the specified items from the set.

This method is different from the `remove()` method, because the `remove()` method will raise an error if the specified item does no exist, but the `discard()` method will not.

In [17]:
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")
print(fruits)

{'cherry', 'apple'}

### `intersection()`
The `intersection()` method returns a set that contains the similar elements present in 2 or more sets.

Meaning, the returned set contains only items that exist in both sets or in all the sets if the comparison is done with more than 2 sets.

As a shortcut, the `&` operator can be used instead.

In [18]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)

{'apple'}

In [19]:
# alternatively
z = x & y
print(z)

{'apple'}

### `intersection_update()`
The `intersection_update()` method removes the items that is not present in both sets (or in all sets if the comparison is done between more than 2 sets).

The `intersection_update()` method is different from the `intersection()` method, because the `intersection()` method returns a new set, without the unwanted items and the `intersection_update()` method removes the unwanted items from the original set.

As a shortcut, the `&=` assignment operator can be used instead.

In [20]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
print(x)

{'apple'}

In [21]:
# alternatively
x &= y
print(x)

{'apple'}

### `isdisjoint()`
The `isdisjoint()` method returns `True` if none of the items are present in both sets, otherwise it returns `False`.

In [22]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}
z = x.isdisjoint(y)
print(z)

True

### `issubset()`
The `issubset()` method returns `True` if all items in the set exists in the specified set, otherwise it returns `False`.

As a shortcut, the `<=` operator can be used instead.

In [23]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}
z = x.issubset(y)
print(z)

True

### `issuperset()`
The `issuperset()` method returns `True` if all items in the specified set exists in the original set, otherwise it returns `False`.

As a shortcut, the `>=` operator can be used instead.

In [24]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}
z = x.issuperset(y)
print(z)

True

### `pop()`
The `pop()` method is used to remove an element from the set at random. The removed element gets printed on the console window.

In [25]:
a = {1, 2, 3, 4}
a.pop()

1

### `remove()`
The `remove()` method is used to remove the specified element from a set. Unlike `pop()`, the removed element is not printed on the console window.

This method is different from the `discard()` method, because the `remove()` method will raise an error if the specified item does not exist, whereas the `discard()` method will not.

In [26]:
a = {1, 2, 3, 4}
a.remove(4)

### `symmetric_difference()`
The `symmetric_difference()` method returns a set that contains all items from both sets, but not the items that are present in both sets.

Meaning, the returned set contains the items are not present in both the sets.

As a shortcut, the `^` operator can be used instead.

In [27]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y)
print(z)

{'banana', 'google', 'microsoft', 'cherry'}

### `symmetric_difference_update()`
The `symmetric_difference_update()` method updates the original set by removing items that are present in both sets and inserting the other items.

As a shortcut, the `^=` operator can be used instead.

In [28]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
print(x)

{'banana', 'google', 'microsoft', 'cherry'}

### `union()`
The `union()` method returns a set that contains all items from the original set and all items from the specified set(s).

As many number of sets as possible or required can be specified, separated by commas. It does not have to be a set, it may be any iterable object.

If an item is present in more than one set, the result will contain only one appearance of this item.

As a shortcut, the `|` operator can be used instead.

In [29]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.union(y)
print(z)

{'banana', 'google', 'microsoft', 'cherry', 'apple'}

### `update()`
The `update()` method updates the current set, by adding items from another set (or any iterable).

If an item is present in both sets, only one appearance of this item will be present in the updated set.

As a shortcut, the `|=` operator can be used instead.

In [30]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.update(y)
print(x)

{'banana', 'google', 'microsoft', 'cherry', 'apple'}

In [31]:
# another example(s)
a = {1, 2}
a.update([1, 2, 3, 4, 5, 6])
print(a)

{1, 2, 3, 4, 5, 6}

In [32]:
a.update([7, 8])
print(a)
a.update({9, 10})
print(a)
a.update((11, 12))
print(a)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}