# DDL
DDL stands for Data Definition Language.

DDL is a subset of SQL and a part of DBMS. This type of SQL is used to create tables. Anything that has to do with the table schema where the table is defined, is done using DDL.

The DDL commands are used to create or modify the tables in SQL.

# `create`
The `create` command is used to create a new table or database in SQL. The user has to give information like, table name, column name and their data type.

```sql
-- syntax to create a database
create schema database_name;

# syntax to create table
create table table_name
(
	column1 datatype,
	column2 datatype,
	columnN datatype,
);

-- example
-- the query below creates a table for storing student information of a 
-- particular college
create table Student_info
(
	College_Id number(2),
	College_name varchar(30),
	Branch varchar(10)
);

-- code for BigQuery
create table `vidish-sirdesai-scaler-dsml.example_dataset.example_table1` (
  user_id INT64,
  email STRING,
  first_name STRING,
  last_name STRING,
  signup_date DATE
);
```

# `alter`
The `alter` command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can add, delete or modify tasks easily.

```sql
-- syntax
alter table table_name
add column_name datatype;

-- example
-- the query below adds a new column CGPA to the Student_info table
alter table Student_info
add CGPA number;
```

# `truncate`
The `truncate` command is used to remove all the rows from the table, but the structure of the table is preserved.

```sql
-- syntax
truncate table table_name;

-- example
truncate table Student_info;
```

# `drop`
The `drop` command is used to remove an existing table along with its structure from the database.

```sql
-- syntax
drop table table_name;

-- example
drop table Student_info;

-- syntax in BigQuery
drop table `example_dataset.example_table1`;
```

# `rename`
The `rename` command is used to assign a new name to a table. It is possible to change the name of the table with or without data being present in it.

A table object can be renamed at any point of time.

```sql
-- syntax
rename table table_name to new_table_name;

-- example
rename table Employee to EMP;
```