# DML
DML stands for Data Manipulation Language. DML commands in SQL change the data present in the SQL database. The existing records can be easily accessed, stored, modified, updated or deleted from the database using the DML commands.

# `select`
`select` is the most important data manipulation command in SQL. The `select` command shows the records of the specified columns in a table. `select` along with `where` is used to show the data records which meet a condition in a specific table.

```sql
-- syntax
select column1, column2, ..., columnN 
from table_name;

-- syntax to select all the columns
select *
from table_name;
```

# `insert`
`insert` is another most important data manipulation command, which allows to insert data into a tables.

```sql
-- syntax
insert into table_name 
( 
	column1, 
	column2, 
	columnN
)
values (value1, value2, ..., valueN);
```

# `update`
The `update` command is used to update or modify the existing data record(s) in a table.

```sql
-- syntax
update table_name
set [column1 = value1, ..., columnN = valueN]
where condition;
```

# `delete`
`delete` is a DML command which allows SQL users to remove single or multiple existing records from a table. `delete` does not delete the stored data permanently from the database. The `where` command is used with the `delete` command to select specific rows from the table.

```sql
-- syntax
delete from table_name
where condition;
```